.buttonStatus {
  border-radius: 30px;
  background: #057A47;
  border: none;
  color: white;
  padding: 3px 1px;
  height: 53px;
  font-size: 28px;
  width: 260px;
  transition: background 0.25s;
}

.buttonStatus:hover{
  background: rgba(5, 122, 71, 0.411);
  border: none;
  color: white;
}


.status-h4{
  margin: 0;
  overflow: hidden;
  font-size: 28px;
color: white;
}

@media (max-width: 1650px){
  .status-h4{
    font-size: 20px;
  }
  .buttonStatus{
    height: 33px;
    font-size: 22px;
  }
}




