.nav{
display: flex;
height: 100px;
padding: 17px 30px;
justify-content: space-between;
align-items: center;
align-content: center;
gap: 50px;
flex-shrink: 0;
flex-wrap: nowrap;
border-radius: 40px;
background: #191818;
}
